<%= form_for @changeset, Routes.loan_path(@conn, :create), fn f -> %>
  <label>
    Requested loan amount (in SEK): <%= number_input f, :amount %>
  </label>
  <label>
    First name: <%= text_input f, :first_name %>
  </label>
  <label>
    Last name: <%= text_input f, :last_name %>
  </label>
  <label>
    Phone number: <%= telephone_input f, :phone %>
  </label>
  <label>
    Email address: <%= email_input f, :email %>
  </label>
  

  <%= submit "Submit" %>
<% end %>