<section class="phx-hero">
    <h1>Offer!</h1>
    <h2> Interest rate: <%= @interest_rate %>%</h2>
</section>

<label>
    Requested loan amount (in SEK):
</label>
<p>
    <%= get_key(@changeset, :amount) %>
</p>
<label>
    First name:
</label>
<p>
    <%= get_key(@changeset, :first_name) %>
</p>
<label>
    Last name:
</label>
<p>
    <%= get_key(@changeset, :last_name) %>
</p>
<label>
    Phone number:
</label>
<p>
    <%= get_key(@changeset, :phone) %>
</p>
<label>
    Email address:
</label>
<p>
    <%= get_key(@changeset, :email) %>
</p>

