<table style="width:100%">
    <tr>
        <th>Firstname</th>
        <th>Lastname</th> 
        <th>Amount</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Result</th>
    </tr>
    <%= for application <- @applications do %>
        <tr>
            <td><%=application.first_name%></td>
            <td><%=application.last_name%></td> 
            <td><%=application.amount%></td>
            <td><%=application.phone%></td>
            <td><%=application.email%></td>
            <td><%=get_application_result(application, @interests)%></td>
        </tr>
    <%end %>
</table>